.body-class{
    background-color: black;
   
}
.mid-bar{
    padding: 100px;
}
.avatar-image{
    width:12%;
}
#chat-app{
    color: white;
    background-color:black ;
    border-color: black;
    font-size: 18px;
    margin-left: 52%;
}
.navigation {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: var(--navigation-box-shadow);
    font-size: 40px;
    margin-left: 32%;
  }
  .meet-avatar{
    margin-left: 44%;
    margin-top: 5%;
  }
  .meet-avatar-logo{
    padding: 0px;
    width: 20%;
  }
.logo-ms{
    padding: 2px;
    width: 15%;  
}
.logo-ms2{
    padding: 2px;
    width: 6.5%;
}
.room-box{
    font-size: 25px;
    color: white;
    padding:5px;
    margin-top: 10px;
}
.form-box{
    color: white;
}
.btn-info{
    color: #fff;
    background-color: rgb(89, 21, 199);
    border-color: rgb(89, 21, 199);
}

.room-create-btn{
    color: white;
   
}
.button{
    border-radius: 50%; 
    background-color:rgb(83, 80, 80);
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 15px;
}
.button-red{
    border-radius: 50%; 
    background-color:red;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    margin-right: 15px;
}

.chat-panel{
   
    background-color: white;
    border-radius: 25px;
}
.chat-col{
    right: -100vw;
    bottom: 0;
    top: 40.5px;
    z-index: 1000;
    position: fixed;
    color:black;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 100vh;
    font-size: 18px;
}

.chat-col.chat-opened {
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
}
.sender-name{
    left: 10px;
    color: white;
    top: 10px;
}
#chat-messages{
   
    height: 70vh;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

#chat-messages::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}

.chat-box{
    bottom: 30px;
    right: 0;
    position: absolute;
    border: 0;
    border-top: 1px groove white;
    border-left: 1px groove white;
    font-size: small;
}

.chat-box::placeholder{
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.chat-box,
.chat-box:focus{
    resize: none !important;
    box-shadow: none !important;
}

.chat-row{
    height: 100%;
    overflow-x: scroll;
}

.main{
    padding-top: 0px;
    
}

.emoji{
    position: absolute;
    font-size: 40px;
    float: left;
    margin-left: 2.5%;
    visibility: visible;
}

.remote-video{
    width:100%;
    height:auto;
    max-height: 55vh;
}


.remote-video-controls{
    position:absolute;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:300000;
    padding: 0px;
    width: 100%;
    text-align: right;
    color:white;
    visibility: hidden;
}


.remote-video:hover + .remote-video-controls,
.remote-video-controls:hover{
    visibility: visible;
}

.remote-video-controls .nameDisplay{
    float: left;
    margin-left: 5%;
    text-transform:uppercase;
    visibility: visible;
}
.remote-video-controls .pinIcon{
    float: right;
}
.local-video{
    bottom: 50px;
    left: 0;
    position: fixed;
    width:15vw;
}
.local-name{
    
    bottom: 25px;
    left: 18px;
    position: fixed;
    color: white;
    background-color: rgb(89, 21, 199);
    margin-bottom: 3px;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 20px;
}

.mirror-mode{
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.sender-info{
    font-size: smaller;
    margin-top: 5px;
    align-self: flex-end;
}


.msg{
    font-weight: 400;
    font-size: 15px;
    color: black;
    background-color: wheat;
}


.chat-card{
    border-radius: 25px;
}


.btn-no-effect:focus{
    box-shadow: none;
}

.very-small{
    font-size: 6px !important;
}


#close-single-peer-btn {
    position: fixed;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    border-radius: 0%;
    z-index: 100;
}


.pointer{
    cursor: pointer;
}



.custom-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #17a2b8;
    width: 80%;
}

#roomnameDisplay{
    padding-top: 2px;
    font-size: medium;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


@media only screen and (max-width:767px){
    .chat-col{
        right: -100vw;
        width: 100vw;
        z-index: 99999;
        transition: 0.3s;
        top: 47px;
    }
  
    .chat-opened::-webkit-scrollbar {
        display: none;
    }

    #chat-messages{
        height: 60vh;
    }

    .chat-box{
        bottom: 90px;
        margin-bottom: 0px;
    }
    
    .card-sm{
        max-width: 100%;
        min-width: 50%;
    }


    .local-video{
        width:40vw;
    }
}


@media (min-width:768px){
    .card{
        width: 50%;
        z-index: 1000;
        background-color:black;
    }
    .chatbox{
        border-radius: 25px;
        width: 50%;
        z-index: 1000;
        background-color:rgb(211, 211, 211);
        margin-top: 10px;
        margin-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 20px;
      
    }
    
    .msgColor{
        background-color: rgb(89, 21, 199);
        color: white;
        
    }
}
